<body>

  <!--Navbar -->
  <div class="topnav nav-c">
      
    <div>
  
    <img src="assets/Logo.jpg" alt="Logo" height="125px" width="125px">
               
    </div>
    <a class="active" routerLink="">HOME</a>
      <a routerLink="about">ABOUT</a>
    <a routerLink="contact">CONTACT US</a>
    <a routerLink="create">CREATE</a>
    <a routerLink="galler">STORIES</a>
    <a routerLink="images">IMAGES</a>
    
    
  </div>
  
  
  
  <!--/.Navbar -->
  
  <router-outlet></router-outlet>
  </body>
  