
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<body>

  <!--Navbar -->
  <div class="topnav nav-c">

    <div>
  
      <img src="assets/Logo.jpg" alt="Logo" height="125px" width="125px">
                 
      </div>
      <a routerLink="galler">HOME</a>
      <a routerLink="about">ABOUT</a>
    <div class="subnav">
      <button class="subnavbtn">STORIES<i class="fa fa-caret-down"></i></button>
      <div class="subnav-content">
        <a class="active" routerLink="">STORY SECTION</a>
        
        <a routerLink="create">CREATE</a>
        
        
      </div>
    </div> 
    <div class="subnav">
      <button class="subnavbtn">Get Involved<i class="fa fa-caret-down"></i></button>
      <div class="subnav-content">
        <a class="active" routerLink="">Donate</a>
        <a class="active" routerLink="">Fundraiser</a>
        <a class="active" routerLink="">Campaign</a>
        <a class="active" routerLink="">Volunteer</a>
        
        
       
        
        
      </div>
    </div> 
    
   
    <a routerLink="contact">Contact us</a>
    <a routerLink="images">GALLERY</a>
    <div class="search-container">
      <form action="/action_page.php">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
  </div>
  
 
  
  <!--/.Navbar -->
  
  <router-outlet></router-outlet>
  </body>
  