
.header-top {
  padding: 10px 0;
  background: #ff5722;
}
.header-top .fh5co-link a {
  margin-left: 10px;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.7);
}
.header-top .fh5co-link a:first-child {
  margin-left: 0;
}
.header-top .fh5co-link a:hover {
  color: white !important;
}



.topnav {
  background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("https://png.pngtree.com/thumb_back/fw800/back_our/20190617/ourmid/pngtree-happy-family-poster-background-material-image_127948.jpg");
    color: white;
    overflow: hidden;
   bottom: 5em;
    
  }

  .topnav a {
    float: left;
    color: #bbbfca;
    text-align: center;
    margin-top: 50px;
    padding: 16px 26px;
    text-decoration: none;
    font-size: 19px;
      font-weight: bolder;
      font-family: 'Crimson Text', serif;
  }
  .search-container {
    float: right;
  }
  .search-container button:hover {
    background: aquamarine;
  }
  
.subnav {
  float: left;
  overflow: hidden;
  bottom: 5em;
}

.subnav  {
  float: left;
 background-color: inherit;
  text-align: center;
  margin-top: 50px;
  padding: 16px 26px;
  text-decoration: none;
  font-size: 19px;
    font-weight: bolder;
    font-family: 'Crimson Text', serif;
}

.subnavbtn{
  color: #bbbfca;
  background-color: inherit;
}

.topnav a:hover {
  background-color: #008891;
 
}

.subnav:hover .subnavbtn {
  background-color:red;
 
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color:#706897;
  width: 100%;
  z-index: 1;
}

.subnav-content a {
  float: left;
  
  text-decoration: none;
}

.subnav-content a:hover {
  
  color: black;
}

.subnav:hover .subnav-content {
  display: block;
}
img{
    
  float: right;  
    }
  
.navbar-brand{
  margin-right: 3em;
   margin-left: 2em;
    
}
.navbar-custom { 
  background-color: lightgreen; 
}

.navbar a{
  color:black;
  font-size: 18px;
  font-weight: bolder;
  
}