<body>
 
<section id="service">
 <div id="servics">
   <h3>Useful Services</h3>
   
   <div class =" row">
     <div class = "col-md-4" title="camping">
       <a href="https://www.happytrailsforkids.org/">
       <img src="../../assets/camp.jpg" alt="camping">
       <p>Free summer and winter camps</p></a>
     </div>
     <div class = "col-md-4" title="Counselling">
       <a href="https://www.allianceys.ca/specialized-foster-care.html">
       <img src="../../assets/service3.jpg" alt="Counselling">
       <p>Counselling for kids</p></a>
     </div>
     <div class = "col-md-4" title="campaigins">
       <a href="https://www.brookings.edu/research/a-national-campaign-to-improve-foster-care/">
       <img src="../../assets/service4.jpg" alt="campaigins">
       <p>Campaigns</p></a>
     </div>
   </div>
   <div class =" row">
     <div class = "col-md-4" title="career">
       <a href="https://www.ncda.org/aws/NCDA/pt/sd/news_article/117363/_PARENT/CC_layout_details/false">
       <img src="../../assets/service5.jpg" alt="careercounselling">
       <p>Get Guidance For Your Future</p></a>
     </div>
     <div class = "col-md-4" title="medical">
       <a href="https://www.childwelfare.gov/pubPDFs/health_care_foster.pdf">
       <img src="../../assets/service6.jpeg" alt="medical">
       <p>Medical Services plans</p></a>
     </div>
     <div class = "col-md-4" title=" Extracurricular Activities">
       <a href="https://pathwayfs.org/affordable-extracurricular-activities-foster-child/">
       <img src="../../assets/service7.jpg" alt=" Extracurricular Activities">
       <p>Affordable Extra Extracurricular Activities</p></a>
     </div>
     </div>
 </div>
</section>
<section id ="blogs">
 <h3>SOME USEFUL BLOGS</h3>
 
   <div class =" row">
     <div class = "col-md-4" title="blog">
       <a href="https://www.togetherwerise.org/blog/myths-about-adoption-foster-care/">
       <img src="../../assets/service8.jpg" alt="myths">
       <p>Some Myths about foster adoption.</p></a>
     </div>
     <div class = "col-md-4" title="blog">
       <a href="https://adopttogether.org/5-steps-to-become-a-foster-parent/">
       <img src="../../assets/service9.jpg" alt="foster">
       <p>5 steps to become a foster parent.</p></a>
     </div>
     <div class = "col-md-4" title="blog">
       <a href="https://adopttogether.org/five-ways-hosting-programs-can-change-a-life/">
       <img src="../../assets/service10.jpg" alt="kid">
       <p>Five Ways Hosting Programs Can Change a Life.</p></a>
     </div>
 </div>
</section>
  
 
</body>
