

<body>
  <p>.</p>
  
  
  
  <div class="container">
    <img src="assets/g2.jpg" alt="banner" style="width:50%;">
    <div class="text-block">
      <p></p>
      
     
    </div>
  </div>
    
  <div class="container">
    <img src="assets/2.jpg" alt="banner" style="width:50%;">
    <div class="text-block">
      <p></p>
    </div>
  </div>
  <div class="container">
    <img src="assets/g1.jpg" alt="banner" style="width:50%;">
    <div class="text-block">
      <p></p>
    </div>
  </div>
    <div class="container">
      <img src="assets/g3.jpg" alt="banner" style="width:50%;">
      <div class="text-block">
        <p></p>
      </div>
  </div>


  
  </body>