

<body>
  <p class="line">Adopt us!</p>
  
  
  <div style="width: 100%; display: table;">
    <div style="display: table-row;">
  <div class="images">
    <img src="assets/g2.jpg" alt="image1" style="width:50%;">
    <div class="text-block">
      <p></p>
      
     
    </div>
  
    
  
    <img src="assets/2.jpg" alt="image2" style="width:50%;">
    <div class="text-block">
      <p></p>
   
  </div>
  
    <img src="assets/g1.jpg" alt="image3" style="width:50%;">
    <div class="text-block">
      <p></p></div>
    
  
    
      <img src="assets/g3.jpg" alt="image4" style="width:50%;">
      <div class="text-block">
        <p></p>
      
  </div>
  </div>

  <div class="images1">
    <img src="assets/g4.jpg" alt="image5" style="width:50%;">
    <div class="text-block">
      <p></p>
      
     
    </div>
  
    
  
    <img src="assets/2.jpg" alt="image6" style="width:50%;">
    <div class="text-block">
      <p></p>
   
  </div>
  
    <img src="assets/g1.jpg" alt="image7" style="width:50%;">
    <div class="text-block">
      <p></p></div>
    
  
    
      <img src="assets/g3.jpg" alt="image8" style="width:50%;">
      <div class="text-block">
        <p></p>
      
  </div>
  </div>

  
  </div>
</div>

  
  </body>