body{
  background:url(https://www.itl.cat/pngfile/big/224-2246862_aesthetic-pastel-wallpaper-hd.jpg)
}

p{
  text-align: center;
  font-weight: bold;
  font-size: larger;
  color: #ec524b;
  margin-top: 1em;

}
